@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body{
    background-color:hsl(0, 0%, 8%) ;
}

div{
    background-color: hsl(0, 0%, 12%);
}

#p1{
    font-weight: 700;
    
}

p{
    color:hsl(0, 0%, 100%);
    font-family:"Inter", sans-serif;
    font-size: 14px
}

#p2 {
    color: hsl(75, 94%, 57%);
    font-weight: 600;

}
#p3{
    font-weight: 400;
}

